<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style_cardapio.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Faustina:ital,wght@0,300..800;1,300..800&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sancreek&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sancreek&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../style.css">
    
    <title>Menu</title>
</head>

<body>
    <!-- Header----------------------------- -->
  <header>
    <nav>
      <a href="../../index.html">
        <img src="/template/images/" alt="">
      </a>
      <ul>
        <li class="nav-item">
          <a href="../../index.html">home</a>
        </li>
        <li class="nav-item">
          <a href="../../index.html">quem somos</a>
        </li>
        <li class="nav-item">
          <a href="../../index.html">contato</a>
        </li>
        <li class="nav-item">
          <a href="#">cardápio</a>
        </li>
        <li class="nav-item nav-carrinho">
          <a href="#">carrinho</a>
        </li>
      </ul>
    </nav>
  </header>
    <!-- ------------------------------------- -->






    <div class="titulo">
        <h1>Cardapio</h1>

    </div>

    <!-- Main -->
    <main>

        <section class="cardapio">
            <!-- Itens do cardápio ----------->

            <!-- Item 1 -->
            <div class="item">
                <img src="images/hexa.png" alt="">
                <p>Lançamento</p>
            </div>

            <!-- Item 2 -->
            <div class="item">
                <img src="images/bebidas.png" alt="">
                <p>Bebidas</p>
            </div>

            <!-- Item 3 -->
            <div class="item">
                <img src="images/sobremesas.png" alt="">
                <p>Sobremesas</p>
            </div>

            <!-- Item 4 -->
            <div class="item">
                <img src="images/oferta do dia.png" alt="">
                <p>Oferta do dia</p>
            </div>

            <div class="item">
                <img src="images/personalize.png">
                <p>Personalize seu cachorro quente</p>
            </div>

            <div class="item">
                <img src="images/personalizedogVegano.png">
                <p>Personalize seu cachorro quente Vegano</p>
            </div>



            <!--  ------------------------------->
        </section>
        <section class="carrochefe">

            <div class="linha1">
                <div class="item">
                    <img src="images/AMERICAN_pt_3_390x374.png" alt="">
                </div>
                <div class="item">
                    <img src="images/CLASSIC_pt_3_390x374.png" alt="">
                </div>
                <div class="item">
                    <img src="images/BRAZUCA_pt_3_390x374.png" alt="">
                </div>
            </div>
            <div class="linha2">
                <div class="item">
                    <img src="images/TRUFADO_pt 3.png" alt="">
                </div>
                <div class="item">
                    <img src="images/ITALIAN_pt 2.png" alt="">
                </div>
            </div>

        </section>
    </main>
    <!-- ---- -->







</body>

</html>